<!DOCTYPE html>
<html lang="en">
<head>
  <title>Glare Desktop</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  <link rel='stylesheet' href='../public/css/theme.css' />
  <link rel='stylesheet' href='../public/globalfont/fontsheet.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body class="bg" style="font-family:'Poppins';font-weight:400">
    <div class="outsidecontainer">
      <div class="topcontainer" style="text-align: center;">
        <span class="maintext" style="font-size:5vh;font-weight:500">Glare Desktop</span><br/>
        <span class="maintext" style="font-size:2vh;font-weight:300">Licensed to 862</span>
      </div>
      <div class="channels" style="margin-top:20px;" id="channelsMax">
        <div data-channel="1" class="bg-main channelarea-parent channelbutton" id="showAutomaticOverlay">
          <span data-channel="1" class="maintext channelnum material-icons-round" style="margin-top:-.1vh;font-size:4vh">timer</span>
        </div>
        <div data-channel="2" class="bg-main channelarea-parent channelbutton" id="showManualOverlay">
          <span data-channel="1" class="maintext channelnum material-icons-round" style="margin-top:-.1vh;font-size:4vh">reply</span>
        </div>
        <div data-channel="2" class="bg-main channelarea-parent channelbutton" id="showDeviceOverlay">
          <span data-channel="1" class="maintext channelnum material-icons-round" style="margin-top:-.1vh;font-size:3vh">tablet_android</span>
        </div>
        
        
      </div>
    </div>
    <div class="contentcontainer">
      <div class="bg-main mainbutton" id="showCompetitionOverlay" style="width: 500px;">
        <span class="maintext" style="font-size: 16px;">Show Competition Overlay</span>
      </div>
      <div class="bg-main mainbutton" id="addToQueueExample" style="width: 500px;">
        <span class="maintext" style="font-size: 16px;">Add Example to Queue</span>
      </div>
    </div>
    <div class="additionalcontainer">
      <div class="bg-main" style="border-radius: 8px;padding: 10px 5px 10px 5px;text-align: center;width:140px">
        <span class="maintext" style="font-size: 16px;">Match 22</span>
      </div>
    </div>
    <div class="menus" style="text-align: right;">
      <div data-menuItem="currentmatch" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">Current Match</span>
      </div>
      <div data-menuItem="dataanalysis" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">Team Analysis</span>
      </div>
      <div data-menuItem="allmatches" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">All Matches</span>
      </div>
      <div data-menuItem="teamanalysis" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">Data Analysis</span>
      </div>
      <div data-menuItem="settings" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">Settings</span>
      </div>
      <div class="bg-error-dull mainbutton" id="lockScreen" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" id="lockScreenLabel" style="font-size: 1vw;pointer-events: none;">Lock System</span>
      </div>
    </div>
    <div class="overlayBox" id="communcationManualOverlay" style="display: none;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="bg-overlay" style="padding:4vh;border-radius: 16px;text-align: center;width:50%">
          <div style="margin-bottom: 30px;">
            <div class="bg-main mainbutton" style="float:left;width:48%" id="requestLogButton">
              <span class="maintext" style="font-size: 16px;">Request Log</span>
            </div>
            <div class="bg-selected mainbutton" style="float:right;width:48%" id="createNewButton">
              <span class="maintext" style="font-size: 16px;">Create New</span>
            </div>
          </div>
          <br/>
          <br/>
          <div style="max-height: 40vh;text-align: center;margin-bottom: 20px;overflow-y: auto;" id="createNew">
            <div style="display: inline-block;margin-top: 10px;">
              <div class="bg-main" style="padding:10px;display: inline-block;border-radius: 8px;text-align: center;margin-right:20px">
                <span class="maintext" style="font-size: .8vw;">To Device</span>
                <br/>
                <input class="textbox" id="create_protocolTo" type="text" style="width: 12vw;text-align: center;font-size: 3vw;font-weight: bold;display:inline-block;padding-bottom: 0px;margin-bottom: 10px;" value="0000" placeholder="PID-I" maxlength="4"/>
                <br/>
                <span class="maintext" id="create_protocolToLabel" style="font-size: 1vw;">Invalid Protocol</span>
              </div>
              
              <div class="bg-main" style="padding:10px;display: inline-block;border-radius: 8px;text-align: center;">
                <span class="maintext" style="font-size: .8vw;">From Device</span>
                <br/>
                <input class="textbox" id="create_protocolFrom" type="text" style="width: 12vw;text-align: center;font-size: 3vw;font-weight: bold;display:inline-block;padding-bottom: 0px;margin-bottom: 10px;" value="0000" placeholder="PID-O" maxlength="4"/>
                <br/>
                <span class="maintext" id="create_protocolFromLabel" style="font-size: 1vw;">Invalid Protocol</span>
              </div>
            </div>
            <br/>
            <br/>
            <span class="maintext" style="font-size: 1.2vw;margin-top: 20px;">Data</span>
            <br/>
            <textarea class="textbox" style="width: 40vw;height: 10vh;resize: none;padding:5px" id="create_data"></textarea>
            <br/>
            <br/>
            <span class="maintext" style="font-size: 1.2vw;margin-top: 20px;">Device ID (dep?)</span>
            <br/>
            <input class="textbox" style="width: 40vw;padding:5px;text-align: center;" id="create_deviceId"/>
            <br/>
            <br/>
            <span class="maintext" style="font-size: 1.2vw;margin-top: 20px;">Communication ID</span>
            <br/>
            <input class="textbox" style="width: 40vw;padding:5px;text-align: center;" id="create_communicationId"/>
          </div>
          <div style="display:none;clear: both;width:100%;height:40vh;" id="requestLog">
            <div class="tablewidthanimation" style="width: 100%;overflow: hidden;display: inline-block;text-align: left;float:left;max-height: 40vh; overflow-y: auto; overflow-x: hidden;" id="requestsCol">
              <span class="maintext" style="font-size: 1.5vw;margin-bottom:10px">Requests</span><br/>
              <div id="overlay_requestsContainer">
                
              </div>
              
              
            </div>
            <div class="tablewidthanimation" style="width: 0%;overflow: hidden;display: none;text-align: left;float:left;margin-left:10px;max-height: 40vh; overflow-y: auto;opacity:0" id="optionsCol">
              <span class="maintext" style="font-size: 1.5vw;margin-bottom:10px">Details</span><br/>
              <div class="bg-main" style="width: 95%;border-radius: 8px;margin-top:5px;padding:10px;padding-top: 12px;">
                <span class="maintext" style="font-size: 16px;font-weight: 600;">To</span><br/>
                <span class="maintext" id="overlay_detailTo">Device 12345678</span><br/>
              </div>
              <div class="bg-main" style="width: 95%;border-radius: 8px;margin-top:5px;padding:10px;padding-top: 12px;">
                <span class="maintext" style="font-size: 16px;font-weight: 600;">When?</span><br/>
                <span class="maintext" id="overlay_detailWhen">12:57:04 PM</span><br/>
              </div>
              <div class="bg-main" style="width: 95%;border-radius: 8px;margin-top:5px;padding:10px;padding-top: 12px;">
                <span class="maintext" style="font-size: 16px;font-weight: 600;">Protocol To</span><br/>
                <span class="maintext" id="overlay_detailProtocolTo">Ping (0998)</span><br/>
              </div>
              <div class="bg-main" style="width: 95%;border-radius: 8px;margin-top:5px;padding:10px;padding-top: 12px;">
                <span class="maintext" style="font-size: 16px;font-weight: 600;">Protocol From</span><br/>
                <span class="maintext" id="overlay_detailProtocolFrom">Pong (0998)</span><br/>
              </div>
              <div class="bg-main" style="width: 95%;border-radius: 8px;margin-top:5px;padding:10px;padding-top: 12px;">
                <span class="maintext" style="font-size: 16px;font-weight: 600;">Final Data</span><br/>
                <span class="maintext" id="overlay_detailData">Pong!!</span><br/>
              </div>
              <div style="display: flex;justify-content: space-evenly;width:95%">
                <div class="bg-main iconbutton" id="contractOptions">
                  <span class="maintext material-icons-round" style="font-size: 20px;pointer-events: none;">first_page</span>
                </div>
                <div class="bg-main iconbutton">
                  <span class="maintext material-icons-round" style="font-size: 20px;color:#EB264A">delete</span>
                </div>
                <div class="bg-main iconbutton">
                  <span class="maintext material-icons-round" style="font-size: 20px;">send</span>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="bg-main mainbutton" id="exitManualOverlay">
            <span class="maintext" style="font-size: 16px;">Exit</span>
          </div>
          <div class="bg-error mainbutton" id="saveManualSending">
            <span class="maintext" style="font-size: 16px;">Save</span>
          </div>
        </div>
      </div>
    </div>
    <div class="overlayBox" id="deviceOverlay" style="display: none;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="bg-overlay" style="padding:4vh;border-radius: 16px;text-align: center;width:50%;max-height: 60vh;overflow-y: auto;">
          <span class="maintext" style="font-size: 2vw;">Active Devices</span></br>
          <div id="activeDeviceContainer" style="text-align:center;">
            <div class="bg-main" style="padding:20px; border-radius:8px; height:160px; width:240px;display:inline-block;margin-bottom: 10px;">
              <span class="maintext" style="font-size: 20px;display:block">3AC465</span>
              <span class="maintext" style="font-size: 14px;display:block">Last Comm: 12:45 PM</span>
              <div class="bg-selected mainbutton">
                <span class="maintext" style="font-size: 14px;">Demote</span>
              </div>
            </div>
            <div class="bg-main" style="padding:20px; border-radius:8px; height:160px; width:240px;display:inline-block;margin-bottom: 10px;">
              <span class="maintext" style="font-size: 20px;display:block">3AC465</span>
              <span class="maintext" style="font-size: 14px;display:block">Last Comm: 12:45 PM</span>
              <div class="bg-selected mainbutton">
                <span class="maintext" style="font-size: 14px;">Demote</span>
              </div>
            </div>
          </div>
          <span class="maintext" style="font-size: 1.5vw;">Inactive Devices</span></br>
          <div id="inactiveDeviceContainer" style="text-align:center;">
            <div class="bg-main" style="padding:20px; border-radius:8px; height:160px; width:240px;display:inline-block;margin-bottom: 10px;">
              <span class="maintext" style="font-size: 20px;display:block">3AC465</span>
              <span class="maintext" style="font-size: 14px;display:block">Last Comm: 12:45 PM</span>
              <div class="bg-selected mainbutton">
                <span class="maintext" style="font-size: 14px;">Promote</span>
              </div>
            </div>
          </div>
          
        </br>
          <div class="bg-main mainbutton" id="exitDeviceOverlay">
            <span class="maintext" style="font-size: 16px;">Exit</span>
          </div>
        </div>
        
      </div>
    </div>

    <div class="overlayBox" id="automaticOverlay" style="display: none;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="bg-overlay" style="padding:4vh;border-radius: 16px;text-align: center;width:50%;max-height: 20vh;overflow-y: auto;">
          
          <div class="bg-main mainbutton" id="exitAutomaticOverlay">
            <span class="maintext" style="font-size: 16px;">Exit</span>
          </div>
        </div>
        
      </div>
    </div>

    <div class="overlayBox" id="channelOverlay" style="display: none;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="bg-overlay" style="padding:4vh;border-radius: 16px;text-align: center;width:50%">
          <div class="bg-selected" style="text-align: center; padding:20px; width: 100%;border-radius: 16px;" id="overlay_channelStatusContainer">
            <span class="maintext" style="font-size: 2vw;" id="overlay_channelNum">Channel 1</span></br>
            <span class="maintext" style="font-size: 1vw;" id="overlay_channelStatus">Connected</span>
          </div>
          
          
          <br/>
          <div class="bg-main mainbutton" id="exitChannelOverlay">
            <span class="maintext" style="font-size: 16px;">Exit</span>
          </div>
        </div>
        
      </div>
    </div>
    <div class="overlayBox" id="competitionOverlay" style="display: none;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="bg-overlay" style="padding:4vh;border-radius: 16px;text-align: center;width:50%">
          <span class="maintext" style="font-size: 2vw;">Add Competition</span></br>
          <table style="width:100%;margin-bottom:10px">
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;padding-top:12px">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Event Code   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input class="textbox" style="display:inline-block;font-size:14px;width:90%;margin-top: 4px;" id="competition_code" placeholder="FIRST Identified..."/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;padding-top:12px">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Event Name   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input class="textbox" style="display:inline-block;font-size:14px;width:90%;margin-top: 4px;" id="competition_name" placeholder="Cool Name..."/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Allowed Schemas   </span>
              </td>
              <td style="text-align:left;width:60%;vertical-align: middle;padding:5px">
                <div style="border-radius: 4px;border-left: 2px solid white;padding:10px">
                  <select id="competition_allowedSchemas" style="display:block;padding:10px;width:90%" class="textbox">
            
                  </select>
                  <div id="competition_selectedSchemas" style="max-height: 20vh;overflow-y: auto;">
                    
                  </div>
                  
                </div>
                
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Force Schemas?   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input type="checkbox" class="checkbox" id="competition_forceSchemas" style="margin-left:10px"/>
              </td>
            </tr>
            
          </table>
          <div class="bg-main mainbutton" id="exitCompetitionOverlay">
            <span class="maintext" style="font-size: 16px;">Exit</span>
          </div>
          <div class="bg-main mainbutton" id="saveCompetitionOverlay">
            <span class="maintext" style="font-size: 16px;color:#00D974">Save</span>
          </div>
        </div>
        
      </div>
    </div>
</body>
<script>
  const {ipcRenderer} = require('electron');
  var expanded = true;
  var locked = false;
  var currentMenuSelection = "";
  var channelList = []
  var currentlySelectedChannel = 0;
  var allSchemas = [];
  var selectedSchemas = [];

  var allRequests = [];

  class Schema{
    constructor(_id, prettyName){
      this._id = _id;
      this.prettyName = prettyName;
    }
  }

  class Channel{
    constructor(number, status, statusClass, update, requests){
      this.number = number;
      this.status = status;
      this.statusClass = statusClass
      this.update = update;
      this.requests = requests;
    }
  }

  class Request{
    constructor(_id, deviceId, protocolTo, protocolFrom, data, sentAt, communicationId){
      this._id = _id;
      this.deviceId = deviceId.toLowerCase();
      this.protocolTo = protocolTo.toLowerCase();
      this.protocolFrom = protocolFrom.toLowerCase();
      this.data = data; 
      this.sentAt = sentAt;
      this.communicationId = communicationId.toLowerCase();
    }
  }

  var channelArray = [1,2,3,4,5,6,7,8]
  channelArray.forEach(el => {
    var newChannel = new Channel(el, "Ready", "main", undefined, []);
    channelList.push(newChannel);
  });

  allSchemas.push(new Schema("12345678", "Infinite Recharge"));
  allSchemas.push(new Schema("22345678", "Infinite Recharge 2"));
  allSchemas.push(new Schema("32345678", "Infinite Recharge 3"));
  allSchemas.push(new Schema("42345678", "Infinite Recharge 4"));

  function repopulateDropdown(evt){
    document.getElementById("competition_allowedSchemas").innerHTML = "";
    document.getElementById("competition_selectedSchemas").innerHTML = "";
    allSchemas.forEach(el => {
      if(!selectedSchemas.includes(el._id)){
        document.getElementById("competition_allowedSchemas").innerHTML = document.getElementById("competition_allowedSchemas").innerHTML + `<option value="` + el._id + `">` + el.prettyName + `</option>`
      }else{
        document.getElementById("competition_selectedSchemas").innerHTML = document.getElementById("competition_selectedSchemas").innerHTML + `
        <div class="bg-main" style="padding:4px 8px;width:90%;margin-top:10px;border-radius: 6px;display: flex;justify-content: space-between;">
          <span class="maintext">` + el.prettyName + ` (` + el._id + `)</span>
          <span class="maintext material-icons-round removeAllowedSchema" style="font-size: 16px" data-id="` + el._id + `">close</span>
        </div>
        `
      }
    });
    Array.from(document.getElementsByClassName('removeAllowedSchema')).forEach(el => {
      el.addEventListener('click', function(evt){
        selectedSchemas.splice(selectedSchemas.findIndex(sh => sh == evt.srcElement.dataset.id), 1);
        repopulateDropdown();
      });
    });
    document.getElementById("competition_allowedSchemas").selectedIndex = -1;
  }

  document.getElementById("competition_allowedSchemas").addEventListener('change', function(evt){
    selectedSchemas.push(evt.srcElement.options[evt.srcElement.selectedIndex].value);
    repopulateDropdown();
  });
  repopulateDropdown();
  function toggleExpand(evt){
    if(!locked){
      var expansionarrow = document.getElementById("uwu");
      if(expanded){
        var elements = document.getElementsByClassName("channelarea-parent");
        for(var i = 0; i < elements.length; i++){
          elements[i].classList.replace("channelbutton", "channelmin");
        }
        elements = document.getElementsByClassName("channelnum");
        for(var i = 0; i < elements.length; i++){
          elements[i].classList.add("hiddentext");
        }
        expansionarrow.classList.add("expansionarrowopp");
        document.getElementById("channelsMax").style.top = "30%";
        expanded = false;
      }else{
        var elements = document.getElementsByClassName("channelarea-parent");
        for(var i = 0; i < elements.length; i++){
          elements[i].classList.replace("channelmin", "channelbutton");
          
        }
        elements = document.getElementsByClassName("channelnum");
        for(var i = 0; i < elements.length; i++){
          elements[i].classList.remove("hiddentext");
        }
        expansionarrow.classList.remove("expansionarrowopp");
        document.getElementById("channelsMax").style.top = "50%";
        expanded = true;
      }
    }
    
  }

  //document.getElementById("uwu").addEventListener('click', toggleExpand);

  function showManualOverlay(evt){
    if(!locked){
      document.getElementById("showManualOverlay").classList.replace("bg-main", "bg-selected")
      document.getElementById("communcationManualOverlay").style.opacity = "0";
      document.getElementById("communcationManualOverlay").style.display = "block";
      document.getElementById("communcationManualOverlay").animate([
        { opacity: '0'},
        { opacity: '100'}
      ],
      {
        duration: 250,
        iterations: 1
      });
      document.getElementById("communcationManualOverlay").style.opacity = "100";
    }
  }
  document.getElementById("showManualOverlay").addEventListener('click', showManualOverlay);
  document.getElementById("exitManualOverlay").addEventListener('click', function(){
    document.getElementById("showManualOverlay").classList.replace("bg-selected", "bg-main")
    document.getElementById("communcationManualOverlay").style.opacity = "0";
    document.getElementById("communcationManualOverlay").animate([
      { opacity: '100'},
      { opacity: '0'}
    ],
    {
      duration: 250,
      iterations: 1
    });
    contractOptions();
    setTimeout(function(){
      
      document.getElementById("communcationManualOverlay").style.display = "none";
    }, 250);
    
    
  });
  document.getElementById("saveManualSending").addEventListener('click', function(){
    document.getElementById("showManualOverlay").classList.replace("bg-selected", "bg-main")
    document.getElementById("communcationManualOverlay").style.opacity = "0";
    document.getElementById("communcationManualOverlay").animate([
      { opacity: '100'},
      { opacity: '0'}
    ],
    {
      duration: 250,
      iterations: 1
    });
    contractOptions();
    setTimeout(function(){
      
      document.getElementById("communcationManualOverlay").style.display = "none";
    }, 250);
    
    
  });

  var inputsValid = false;
  var validToProtocol = true;
  var validFromProtocol = true;
  // have this relayed in by the system
  var toProtocols = {
    '0000' : 'No Instructions',
    '0998' : 'Ping!',
    '0999' : 'Log This Data',
    'a101' : 'Lock Device',
    'a102' : 'Unlock Device',
    'a111' : 'Show Message',
    'a201' : 'Compile Diagnostics',
    'a202' : 'Relay Diagnostics',
    'a301' : 'Force Competition',
    'a302' : 'No Competition Force',
    'a701' : 'Lockdown Mode',
    'a702' : 'Not Lockdown Mode',
    'a711' : 'Set Admin Code',
    'a801' : 'Logging Mode',
    'a802' : 'No Logging Mode',
    'a811' : 'Medical Information',
    'a901' : 'Debug Mode',
    'a902' : 'No Debug Mode',
    'c101' : 'Add Schema',
    'c102' : 'Remove Schema',
    'c103' : 'Update Schema',
    'c104' : 'Force Update Schema',
    'c201' : 'Add Match',
    'c202' : 'Remove Match',
    'c203' : 'Force Remove Match',
    'c204' : 'Update Match',
    'c205' : 'Force Update Match',
    'c211' : 'Add Matches',
    'c212' : 'Remove Matches',
    'c301' : 'Competition Schema',
    'c401' : 'Add User',
    'c402' : 'Remove User',
    'c403' : 'Update User',
    'c411' : 'Add Users',
    'c412' : 'Update Users',
    'c421' : 'Remove All Users',
    'c431' : 'Set Announcement',
    'c501' : 'Create Backup',
    'c502' : 'Load Backup',
    'c701' : 'Security Mode',
    'c702' : 'No Security Mode',
    'c711' : 'Set Security Key',
    'e001' : 'Minor Data Emergency',
    'e002' : 'Major Data Emergency',
    'e101' : 'Play Detection Noise',
    'e401' : 'Minor Emergency Popup',
    'e402' : 'Major Emergency Popup',
    'e411' : 'Restrict User',
    'e701' : 'Security Compromised',
    'e801' : 'Medical Emergency',
    'e901' : 'Close App',
  }
  // have this relayed in by the system
  var fromProtocols = {
    '0000' : 'No Instructions',
    '0001' : 'Any Response',
    '0998' : 'Pong!',
    '0999' : 'Log This Data',
    'a101' : 'Current Lock State',
    'a111' : 'Any Questions',
    'a201' : 'Diagnostics Send',
    'a202' : 'Failed Diagnostics',
    'a301' : 'Current Forcing State',
    'a701' : 'Current Lockdown State',
    'a711' : 'Check Admin Code',
    'a801' : 'All Logs',
    'a811' : 'Current Medical Info',
    'a901' : 'Current Debug State',
    'c101' : 'All Schemas',
    'c201' : 'All Empty Matches',
    'c202' : 'Matches Update',
    'c301' : 'Current Competition Schema',
    'c401' : 'All Users',
    'c501' : 'Last Backup Time',
    'c701' : 'Current Security State',
    'e001' : 'Minor Data Emergency',
    'e002' : 'Major Data Emergency',
    'e101' : 'Device is Lost',
    'e401' : 'Minor Emergency Popup',
    'e402' : 'Major Emergency Popup',
    'e701' : 'Security Compromised',
    'e801' : 'Medical Emergency',
  }

  function switchToRequestLog(){
    document.getElementById("createNew").style.display = "none";
    document.getElementById("requestLog").style.display = "table";
    document.getElementById("createNewButton").classList.replace("bg-selected", "bg-main");
    document.getElementById("requestLogButton").classList.replace("bg-main", "bg-selected");
    document.getElementById("saveManualSending").style.display = "none";
  }
  document.getElementById("requestLogButton").addEventListener('click', switchToRequestLog);
  
  function switchToCreateNew(){
    document.getElementById("createNew").style.display = "block";
    document.getElementById("requestLog").style.display = "none";
    document.getElementById("createNewButton").classList.replace("bg-main", "bg-selected");
    document.getElementById("requestLogButton").classList.replace("bg-selected", "bg-main");
    document.getElementById("saveManualSending").style.display = "inline-block";
  }
  document.getElementById("createNewButton").addEventListener('click', switchToCreateNew);
  function checkIfOtherInputsValid(evt){
    if(document.getElementById("create_deviceId").value.length == 6 && document.getElementById("create_communicationId").value.length == 8 && isHex(document.getElementById("create_communicationId").value)){
      if(validFromProtocol && validToProtocol){
        document.getElementById("saveManualSending").classList.replace("bg-error", "bg-success");
      }else{
        document.getElementById("saveManualSending").classList.replace("bg-success", "bg-error");
      }
      
      inputsValid = true;
    }else{
      document.getElementById("saveManualSending").classList.replace("bg-success", "bg-error");
      inputsValid = false;
    }
  }
  function isHex(h) {
    var a = parseInt(h,16);
    return (a.toString(16) ===h.toLowerCase())
  }
  function checkIfValidToProtocol(evt){
    var element = document.getElementById("create_protocolTo");
    element.value = element.value.toLowerCase();
    if(toProtocols[element.value] == undefined){
      // protocol not valid
      document.getElementById("create_protocolToLabel").innerHTML = "Invalid Protocol"
      validToProtocol = false;
      document.getElementById("saveManualSending").classList.replace("bg-success", "bg-error");
    }else{
      // protocol valid
      document.getElementById("create_protocolToLabel").innerHTML = toProtocols[element.value]
      validToProtocol = true;
      if(validFromProtocol && inputsValid){
        document.getElementById("saveManualSending").classList.replace("bg-error", "bg-success");
      }else{
        document.getElementById("saveManualSending").classList.replace("bg-success", "bg-error");
      }
    }
    
  }
  document.getElementById("create_protocolTo").addEventListener('change', checkIfValidToProtocol);
  function checkIfValidFromProtocol(evt){
    var element = document.getElementById("create_protocolFrom");
    element.value = element.value.toLowerCase();
    if(fromProtocols[element.value] == undefined){
      // protocol not valid
      document.getElementById("create_protocolFromLabel").innerHTML = "Invalid Protocol"
      validFromProtocol = false;
      document.getElementById("saveManualSending").classList.replace("bg-success", "bg-error");
    }else{
      // protocol valid
      document.getElementById("create_protocolFromLabel").innerHTML = fromProtocols[element.value]
      validFromProtocol = true;
      if(validToProtocol && inputsValid){
        document.getElementById("saveManualSending").classList.replace("bg-error", "bg-success");
      }else{
        document.getElementById("saveManualSending").classList.replace("bg-success", "bg-error");
      }
    }
  }
  document.getElementById("create_protocolFrom").addEventListener('change', checkIfValidFromProtocol);
  document.getElementById("create_data").addEventListener('change', checkIfOtherInputsValid);
  document.getElementById("create_deviceId").addEventListener('change', checkIfOtherInputsValid);
  document.getElementById("create_communicationId").addEventListener('change', checkIfOtherInputsValid);


  function showChannelOverlay(evt){
    // use data attribute
    if(!locked){

      var channelNum = parseInt(evt.srcElement.dataset.channel);
      currentlySelectedChannel = channelNum;
      document.getElementById("overlay_channelNum").innerHTML = "Channel " + channelNum;
      document.getElementById("overlay_channelStatus").innerHTML = channelList.find(ch => ch.number == channelNum).status;
      document.getElementById("overlay_channelStatusContainer").classList.replace(document.getElementById("overlay_channelStatusContainer").classList[0], "bg-" + channelList.find(ch => ch.number == channelNum).statusClass)
      
      document.getElementById("overlay_requestsContainer").innerHTML = channelList.find(ch => ch.number == channelNum).requests.length > 0 ? "" : `<span class="maintext" style="font-size: 1vw;margin-top:10px;opacity: 0.6;width:100%;text-align: center;">Why don't you make a request?</span>`;
      
      Array.from(document.getElementsByClassName("requestToSelect")).forEach(el => {
        el.addEventListener('click', expandOptions);
      });

      document.getElementById("channelOverlay").style.opacity = "0";
      document.getElementById("channelOverlay").style.display = "block";
      document.getElementById("channelOverlay").animate([
        { opacity: '0'},
        { opacity: '100'}
      ],
      {
        duration: 250,
        iterations: 1
      });
      document.getElementById("channelOverlay").style.opacity = "100";
    }
    
  }
  function showCompetitionOverlay(evt){
    document.getElementById("showCompetitionOverlay").classList.replace("bg-main", "bg-selected")
    selectedSchemas = []
    document.getElementById("competition_code").value = ""
    document.getElementById("competition_name").value = ""
    document.getElementById("competition_forceSchemas").checked = false
    // need to check if an edit or not
    if(!locked){
      document.getElementById("competitionOverlay").style.opacity = "0";
      document.getElementById("competitionOverlay").style.display = "block";
      document.getElementById("competitionOverlay").animate([
        { opacity: '0'},
        { opacity: '100'}
      ],
      {
        duration: 250,
        iterations: 1
      });
      document.getElementById("competitionOverlay").style.opacity = "100";
    }
  }
  document.getElementById("showCompetitionOverlay").addEventListener('click', showCompetitionOverlay);
  document.getElementById("exitCompetitionOverlay").addEventListener('click', function(){
    document.getElementById("showCompetitionOverlay").classList.replace("bg-selected", "bg-main")
    document.getElementById("competitionOverlay").style.opacity = "0";
    document.getElementById("competitionOverlay").animate([
      { opacity: '100'},
      { opacity: '0'}
    ],
    {
      duration: 250,
      iterations: 1
    });
    contractOptions();
    setTimeout(function(){
      
      document.getElementById("competitionOverlay").style.display = "none";
    }, 250);
    
    
  });


  function showAutomaticOverlay(evt){
    
    //selectedSchemas = []
    if(!locked){
      document.getElementById("showAutomaticOverlay").classList.replace("bg-main", "bg-selected")
      document.getElementById("automaticOverlay").style.opacity = "0";
      document.getElementById("automaticOverlay").style.display = "block";
      document.getElementById("automaticOverlay").animate([
        { opacity: '0'},
        { opacity: '100'}
      ],
      {
        duration: 250,
        iterations: 1
      });
      document.getElementById("automaticOverlay").style.opacity = "100";
    }
  }
  document.getElementById("showAutomaticOverlay").addEventListener('click', showAutomaticOverlay);
  document.getElementById("exitAutomaticOverlay").addEventListener('click', function(){
    document.getElementById("showAutomaticOverlay").classList.replace("bg-selected", "bg-main")
    document.getElementById("automaticOverlay").style.opacity = "0";
    document.getElementById("automaticOverlay").animate([
      { opacity: '100'},
      { opacity: '0'}
    ],
    {
      duration: 250,
      iterations: 1
    });
    contractOptions();
    setTimeout(function(){
      
      document.getElementById("automaticOverlay").style.display = "none";
    }, 250);
    
    
  });

  function showDeviceOverlay(evt){
    
    //selectedSchemas = []
    if(!locked){
      document.getElementById("showDeviceOverlay").classList.replace("bg-main", "bg-selected")
      document.getElementById("deviceOverlay").style.opacity = "0";
      document.getElementById("deviceOverlay").style.display = "block";
      document.getElementById("deviceOverlay").animate([
        { opacity: '0'},
        { opacity: '100'}
      ],
      {
        duration: 250,
        iterations: 1
      });
      document.getElementById("deviceOverlay").style.opacity = "100";
    }
  }
  document.getElementById("showDeviceOverlay").addEventListener('click', showDeviceOverlay);
  document.getElementById("exitDeviceOverlay").addEventListener('click', function(){
    document.getElementById("showDeviceOverlay").classList.replace("bg-selected", "bg-main")
    document.getElementById("deviceOverlay").style.opacity = "0";
    document.getElementById("deviceOverlay").animate([
      { opacity: '100'},
      { opacity: '0'}
    ],
    {
      duration: 250,
      iterations: 1
    });
    contractOptions();
    setTimeout(function(){
      
      document.getElementById("deviceOverlay").style.display = "none";
    }, 250);
    
    
  });



  function sendCompetition(evt){
    // check if edit or no
    ipcRenderer.send("addCompetition", {"competition" : {
      _id: document.getElementById("competition_code").value,
      prettyName: document.getElementById("competition_name").value,
      forceSchemas: document.getElementById("competition_forceSchemas").checked,
      acceptedSchemas: selectedSchemas
    }})
  }
  document.getElementById('saveCompetitionOverlay').addEventListener('click', sendCompetition);

  ipcRenderer.on('competitionStatus', (event, args) => {
    if(args["success"]){

      // add to master comp list whenever I get to it

      document.getElementById("competitionOverlay").style.opacity = "0";
      document.getElementById("competitionOverlay").animate([
        { opacity: '100'},
        { opacity: '0'}
      ],
      {
        duration: 250,
        iterations: 1
      });
      contractOptions();
      setTimeout(function(){
        
        document.getElementById("competitionOverlay").style.display = "none";
      }, 250);
    }else{
      console.log("There was an error loading the competition!")
    }
  });

  function changeMenu(evt){
    var selectedMenuItem = evt.srcElement;
    if(currentMenuSelection != "" && currentMenuSelection != undefined){
      document.querySelector("[data-menuItem='" + currentMenuSelection + "']").classList.replace("bg-selected", "bg-main");
      document.querySelector("[data-menuItem='" + currentMenuSelection + "']").style.width = "12vw";
    }
    selectedMenuItem.classList.replace("bg-main", "bg-selected");
    selectedMenuItem.style.width = "13vw";
    currentMenuSelection = selectedMenuItem.dataset.menuitem;
  }
  Array.from(document.getElementsByClassName("selectableMenuItem")).forEach(element => {
    element.addEventListener('click', changeMenu);
  });

  function toggleLock(){
    if(locked){
      Array.from(document.getElementsByClassName("selectableMenuItem")).forEach(element => {
        element.style.display = "inline-block";
      });
      locked = false;
      document.getElementById("lockScreen").classList.replace("bg-error", "bg-error-dull");
      document.getElementById("lockScreenLabel").innerHTML = "Lock System";
      
    }else{
      Array.from(document.getElementsByClassName("selectableMenuItem")).forEach(element => {
        element.style.display = "none";
      });
      document.getElementById("lockScreen").classList.replace("bg-error-dull", "bg-error");
      document.getElementById("lockScreenLabel").innerHTML = "Unlock System";
      locked = true;
    }
  }

  document.getElementById("lockScreen").addEventListener('click', toggleLock);

  

  function contractOptions(evt){
    var RC = document.getElementById('requestsCol')
    var OC = document.getElementById('optionsCol')
    OC.style.width = "0%"
    setTimeout(function(){
      RC.style.width = "100%"
      OC.style.opacity = "0"
      OC.style.overflowY = "none";
      setTimeout(function(){
        OC.style.display = "none";
      }, 400)
    }, 50)
    
  }

  function expandOptions(evt){
    var requestToChoose = allRequests.find(rq => rq._id == evt.srcElement.dataset.request)
    
    document.getElementById('overlay_detailTo').innerHTML = "Device " + requestToChoose.deviceId;
    document.getElementById('overlay_detailProtocolTo').innerHTML = requestToChoose.protocolTo + " (" + toProtocols[requestToChoose.protocolTo] + ")"
    document.getElementById('overlay_detailProtocolFrom').innerHTML = requestToChoose.protocolFrom + " (" + toProtocols[requestToChoose.protocolFrom] + ")"
    document.getElementById('overlay_detailData').innerHTML = requestToChoose.data;
    document.getElementById('overlay_detailWhen').innerHTML = new Date(requestToChoose.sentAt).toLocaleDateString() + " @ " + new Date(requestToChoose.sentAt).toLocaleTimeString();



    var RC = document.getElementById('requestsCol')
    var OC = document.getElementById('optionsCol')
    RC.style.width = "55%"
    OC.style.overflowY = "none";
    setTimeout(function(){
      console.log(OC.style.opacity)
      OC.style.width = "0%"
      OC.style.display = "inline-block"
      console.log(OC.style.opacity)
      
      setTimeout(function(){
        OC.style.opacity = "1"
        OC.style.width = "40%"
        setTimeout(function(){
          OC.style.overflowY = "auto";
        }, 500);
      }, 20)
      
      
    }, 80)
    
  }
  document.getElementById('contractOptions').addEventListener('click', contractOptions)
  document.getElementById("exitChannelOverlay").addEventListener('click', function(){
    document.getElementById("channelOverlay").style.opacity = "0";
    document.getElementById("channelOverlay").animate([
      { opacity: '100'},
      { opacity: '0'}
    ],
    {
      duration: 250,
      iterations: 1
    });
    contractOptions();
    setTimeout(function(){
      
      document.getElementById("channelOverlay").style.display = "none";
    }, 250);
    
    
  });


  ipcRenderer.on('addRequest', (event, args) => {
    allRequests.push(new Request(args["_id"], args["deviceId"], args["protocolTo"], args["protocolFrom"], args["data"], args["sentAt"], args["communicationId"]));
    allRequests.sort((a,b) => (new Date(a.sentAt).getTime()-new Date(b.sentAt).getTime())*-1)
    updateRequestsList();
  });
  ipcRenderer.on('bulkAddRequest', (event, args) => {
    args['bulkContents'].forEach(el => {
      allRequests.push(new Request(el["_id"], el["deviceId"], el["protocolTo"], el["protocolFrom"], el["data"], el["sentAt"], el["communicationId"]));
    });
    allRequests.sort((a,b) => (new Date(a.sentAt).getTime()-new Date(b.sentAt).getTime())*-1)
    updateRequestsList();
  });

  function updateRequestsList(){
    document.getElementById("overlay_requestsContainer").innerHTML = "";
    var usableList = []
    if(allRequests.length > 20){
      usableList = allRequests.slice(0, 20);
    }else{
      usableList = allRequests;
    }
    usableList.forEach(el => {
        document.getElementById("overlay_requestsContainer").innerHTML = document.getElementById("overlay_requestsContainer").innerHTML + `
        <div class="bg-main requestToSelect" style="width: 95%;display: table;padding:10px;border-radius: 8px;margin-top:5px;padding-top: 12px;" data-request="` + el._id + `">
          
          <span style="display:table-cell;text-align: left;pointer-events: none;width:40%" class="maintext"><span style="display: inline;border-radius: 4px;padding-left: 8px;padding-right:8px;" class="bg-selected">` + el.protocolTo +` ></span><span style="display: inline;border-radius: 4px;padding-left: 8px;padding-right:8px;margin-left:5px" class="bg-selected">< ` + el.protocolFrom +`</span></span>
          <span style="display:table-cell;text-align: left;pointer-events: none;width:20%" class="maintext">` + el.deviceId + `</span>
          <span style="display:table-cell;text-align: left;pointer-events: none;" class="maintext">` +new Date(el.sentAt).toLocaleTimeString() + `</span>
          
        </div>
        
        `
      });
    Array.from(document.getElementsByClassName("requestToSelect")).forEach((el) => {
      el.addEventListener('click', expandOptions);
    });
  }

  ipcRenderer.send('getChannelStatus', {'all' : true});
  document.getElementById("saveManualSending").addEventListener('click', function(evt){
    if(validToProtocol && validFromProtocol && inputsValid){
      ipcRenderer.send('newRequest', {
        'deviceId' : document.getElementById("create_deviceId").value,
        'protocolTo' : document.getElementById('create_protocolTo').value,
        'protocolFrom' : document.getElementById('create_protocolFrom').value,
        'communicationId' : document.getElementById('create_communicationId').value,
        'data' : document.getElementById('create_data').value,
      })
    }
    
  })

  /*setTimeout(function a(){
    ipcRenderer.send('newRequest', {
        'deviceId' : "3AC465",
        'protocolTo' : "0998",
        'protocolFrom' : "0998",
        'communicationId' : "12345678",
        'data' : "Scalability Test :>",
      })
    setTimeout(a, 10000);
  }, 10000)*/
  var lastSend = new Date()
  setInterval(function checkIfDevice(){
    if(Math.abs(new Date() - lastSend) / 1000 > 10){
      ipcRenderer.send('newRequest', {
        'deviceId' : "3AC465",
        'protocolTo' : "0998",
        'protocolFrom' : "0998",
        'communicationId' : "12345678",
        'data' : "Scalability Test :>",
      })
    }
  }, 50)

  document.getElementById("addToQueueExample").addEventListener('click', function(evt){
    ipcRenderer.send('newRequest', {
        'deviceId' : "3AC465",
        'protocolTo' : "0998",
        'protocolFrom' : "0998",
        'communicationId' : "12345678",
        'data' : "Scalability Test :>",
      })
  })

  ipcRenderer.send("getDevices")
  ipcRenderer.on("allDevices", (evt, args) => {
    document.getElementById("activeDeviceContainer").innerHTML = "";
    document.getElementById("inactiveDeviceContainer").innerHTML = "";
    args["devices"].forEach(device => {
      if(device.onLineup){
        document.getElementById("activeDeviceContainer").innerHTML = document.getElementById("activeDeviceContainer").innerHTML + `<div class="bg-main" style="padding:20px; border-radius:8px; height:160px; width:240px;display:inline-block;margin-bottom: 10px;">
              <span class="maintext" style="font-size: 20px;display:block">` + device._id + `</span>
              <span class="maintext" style="font-size: 14px;display:block">Last Comm: 12:45 PM</span>
              <div class="bg-selected mainbutton">
                <span class="maintext" style="font-size: 14px;">Demote</span>
              </div>
            </div>`
      }else{
        document.getElementById("inactiveDeviceContainer").innerHTML = document.getElementById("inactiveDeviceContainer").innerHTML + `<div class="bg-main" style="padding:20px; border-radius:8px; height:160px; width:240px;display:inline-block;margin-bottom: 10px;">
              <span class="maintext" style="font-size: 20px;display:block">` + device._id + `</span>
              <span class="maintext" style="font-size: 14px;display:block">Last Comm: 12:45 PM</span>
              <div class="bg-selected mainbutton">
                <span class="maintext" style="font-size: 14px;">Promote</span>
              </div>
            </div>`
      }
    });
  });

</script>
</html>
