<!DOCTYPE html>
<html lang="en">
<head>
  <title>Glare Desktop</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  <link rel='stylesheet' href='../public/css/theme.css' />
  <link rel='stylesheet' href='../public/globalfont/fontsheet.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body class="bg" style="font-family:'Poppins';font-weight:400">
    <div class="outsidecontainer">
      <div class="topcontainer" style="text-align: center;">
        <span class="maintext" style="font-size:5vh;font-weight:500">Glare Desktop</span><br/>
        <span class="maintext" style="font-size:2vh;font-weight:300">Licensed to 862</span>
      </div>
      <div class="channels" style="margin-top:20px;" id="channelsMax">
        <div data-channel="1" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">1</span>
        </div>
        <div data-channel="2" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">2</span>
        </div>
        <div data-channel="3" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">3</span>
        </div>
        <div data-channel="4" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">4</span>
        </div>
        <div data-channel="5" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">5</span>
        </div>
        <div data-channel="6" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">6</span>
        </div>
        <div data-channel="7" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">7</span>
        </div>
        <div data-channel="8" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">8</span>
        </div>
        <div data-channel="9" class="bg-main channelarea-parent channelbutton">
          <span class="maintext channelnum bolderfont">9</span>
        </div>
        <span class="material-icons-round expansionarrowmain" id="uwu" style="font-size: 30px;">
          expand_less
        </span>
      </div>
    </div>
    <div class="contentcontainer">
      <span class="maintext" style="font-size: 16px;">Match 22</span>
    </div>
    <div class="additionalcontainer">
      <div class="bg-main" style="border-radius: 8px;padding: 10px 5px 10px 5px;text-align: center;width:140px">
        <span class="maintext" style="font-size: 16px;">Match 22</span>
      </div>
    </div>
    <div class="menus" style="text-align: right;">
      <div data-menuItem="currentmatch" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">Current Match</span>
      </div>
      <div data-menuItem="dataanalysis" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">Team Analysis</span>
      </div>
      <div data-menuItem="allmatches" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">All Matches</span>
      </div>
      <div data-menuItem="teamanalysis" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">Data Analysis</span>
      </div>
      <div data-menuItem="settings" class="bg-main mainbutton selectableMenuItem" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" style="font-size: 1vw;pointer-events: none;">Settings</span>
      </div>
      <div class="bg-error-dull mainbutton" id="lockScreen" style="border-radius: 8px 0px 0px 8px;width:12vw;padding:15px">
        <span class="maintext" id="lockScreenLabel" style="font-size: 1vw;pointer-events: none;">Lock System</span>
      </div>
    </div>
    <div class="overlayBox" id="channelOverlay" style="display: none;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="bg-overlay" style="padding:50px;border-radius: 16px;text-align: center;">
          <span class="maintext">Channel 1</span>
          <br/>
          <div class="bg-main mainbutton" id="exitChannelOverlay">
            <span class="maintext" style="font-size: 16px;">Exit</span>
          </div>
        </div>
        
      </div>
    </div>
</body>
<script>
  const {ipcRenderer} = require('electron');
  var expanded = true;
  var locked = false;
  var currentMenuSelection = "";
  var channelList = []

  class Channel{
    constructor(number, status, statusClass, update){
      this.number = number;
      this.status = status;
      this.statusClass = statusClass
      this.update = update;
    }
  }

  var channelArray = [1,2,3,4,5,6,7,8]
  channelArray.forEach(el => {
    var newChannel = new Channel(el, "Ready", "main", undefined);
    channelList.push(newChannel);
  });


  function toggleExpand(evt){
    if(!locked){
      var expansionarrow = document.getElementById("uwu");
      if(expanded){
        var elements = document.getElementsByClassName("channelarea-parent");
        for(var i = 0; i < elements.length; i++){
          elements[i].classList.replace("channelbutton", "channelmin");
        }
        elements = document.getElementsByClassName("channelnum");
        for(var i = 0; i < elements.length; i++){
          elements[i].classList.add("hiddentext");
        }
        expansionarrow.classList.add("expansionarrowopp");
        document.getElementById("channelsMax").style.top = "30%";
        expanded = false;
      }else{
        var elements = document.getElementsByClassName("channelarea-parent");
        for(var i = 0; i < elements.length; i++){
          elements[i].classList.replace("channelmin", "channelbutton");
          
        }
        elements = document.getElementsByClassName("channelnum");
        for(var i = 0; i < elements.length; i++){
          elements[i].classList.remove("hiddentext");
        }
        expansionarrow.classList.remove("expansionarrowopp");
        document.getElementById("channelsMax").style.top = "50%";
        expanded = true;
      }
    }
    
  }

  document.getElementById("uwu").addEventListener('click', toggleExpand);

  function showChannelOverlay(evt){
    // use data attribute
    if(!locked){
      document.getElementById("channelOverlay").style.opacity = "0";
      document.getElementById("channelOverlay").style.display = "block";
      document.getElementById("channelOverlay").animate([
        { opacity: '0'},
        { opacity: '100'}
      ],
      {
        duration: 250,
        iterations: 1
      });
      document.getElementById("channelOverlay").style.opacity = "100";
    }
    
  }

  function changeMenu(evt){
    var selectedMenuItem = evt.srcElement;
    if(currentMenuSelection != "" && currentMenuSelection != undefined){
      document.querySelector("[data-menuItem='" + currentMenuSelection + "']").classList.replace("bg-selected", "bg-main");
      document.querySelector("[data-menuItem='" + currentMenuSelection + "']").style.width = "12vw";
    }
    selectedMenuItem.classList.replace("bg-main", "bg-selected");
    selectedMenuItem.style.width = "13vw";
    currentMenuSelection = selectedMenuItem.dataset.menuitem;
  }
  Array.from(document.getElementsByClassName("selectableMenuItem")).forEach(element => {
    element.addEventListener('click', changeMenu);
  });

  function toggleLock(){
    if(locked){
      Array.from(document.getElementsByClassName("selectableMenuItem")).forEach(element => {
        element.style.display = "inline-block";
      });
      locked = false;
      if(!expanded){
        toggleExpand(undefined);
        document.getElementById("uwu").style.opacity = "100";
      }
      document.getElementById("lockScreen").classList.replace("bg-error", "bg-error-dull");
      document.getElementById("lockScreenLabel").innerHTML = "Lock System";
      
    }else{
      Array.from(document.getElementsByClassName("selectableMenuItem")).forEach(element => {
        element.style.display = "none";
      });
      if(expanded){
        toggleExpand(undefined);
        document.getElementById("uwu").style.opacity = "0";
      }
      document.getElementById("lockScreen").classList.replace("bg-error-dull", "bg-error");
      document.getElementById("lockScreenLabel").innerHTML = "Unlock System";
      locked = true;
    }
  }

  document.getElementById("lockScreen").addEventListener('click', toggleLock);

  Array.from(document.getElementsByClassName("channelarea-parent")).forEach(element => {
    element.addEventListener('click', showChannelOverlay);
  });

  document.getElementById("exitChannelOverlay").addEventListener('click', function(){
    document.getElementById("channelOverlay").style.opacity = "0";
    document.getElementById("channelOverlay").animate([
      { opacity: '100'},
      { opacity: '0'}
    ],
    {
      duration: 250,
      iterations: 1
    });
    
    setTimeout(function(){
      
      document.getElementById("channelOverlay").style.display = "none";
    }, 250);
    
    
  });

  ipcRenderer.on('channelUpdate', (event, args) => {
    var elementToChange = document.querySelector("[data-channel='" + args["channelNumber"] + "']")
    var currentTypeClass = "bg-" + channelList.find(chan => chan.number == args["channelNumber"]).statusClass;
    if(args["status"] == "failed"){
      channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].status = "Failure";
      channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].statusClass = "disabled";
      elementToChange.classList.replace(currentTypeClass, "bg-disabled")
    }else if(args["status"] == "subscribed"){
      channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].status = "Connected";
      channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].statusClass = "selected";
      elementToChange.classList.replace(currentTypeClass, "bg-selected")
    }
    else if(args["status"] == "unsubscribed"){
      channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].status = "Ready";
      channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].statusClass = "main";
      elementToChange.classList.replace(currentTypeClass, "bg-main")
    }
    else if(args["status"] == "read" || args["status"] == "written"){
      channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].status = "Communicating";
      channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].statusClass = "success";
      elementToChange.classList.replace(currentTypeClass, "bg-success")
    }
    channelList[channelList.indexOf(channelList.find(chan => chan.number == args["channelNumber"]))].update = new Date();
  });

  setInterval(function(){
    channelList.forEach(chan => {
      if(chan.status != "Failure" && chan.status != "Ready"){
        if((new Date() - chan.update)/1000 > 5){
          document.querySelector("[data-channel='" + chan.number + "']").classList.replace("bg-" + chan.statusClass, "bg-main");
          channelList[channelList.indexOf(channelList.find(chan => chan.number == chan.number))].status = "Ready";
          channelList[channelList.indexOf(channelList.find(chan => chan.number == chan.number))].statusClass = "main";
        }
      }
    });

  }, 500);

</script>
</html>