.bg{
    background: rgb(19,19,48);
    background: -moz-linear-gradient(180deg, rgba(19,19,48,1) 0%, rgba(9,13,33,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(19,19,48,1) 0%, rgba(9,13,33,1) 100%);
    background: linear-gradient(180deg, rgba(19,19,48,1) 0%, rgba(9,13,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131330",endColorstr="#090d21",GradientType=1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 18px;
  }
  *::-webkit-scrollbar-track {
    background-color: #1D1F3A;
    box-shadow: inset 0 0 5px rgba(0,0,0,.16); 
    border-radius: 10px;
  }
   
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #242852; 
    border-radius: 10px;
  }

  .overlayBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }

.outsidecontainer {
    height: 100vh;
    position: relative;
}
.channels {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .5s ease-in-out;
}
.fullcontainer {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
}
.centercontainer {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.rightcontainer {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 45%;
}

.statuscontainer{
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}
.additionalcontainer{
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    left: 15px;
    text-align: left;
}
.bg-selected{
    background-color: #2A7AFA;
    color: white;
}
.bg-error{
    background-color: #EB264A;
    color: white;
}
.bg-success{
    background-color: #00D974;
    color: white;
}
.bg-warning{
    background-color: #EBB026;
    color: white;
}
.bg-disabled{
    background-color: #42464E;
    color: white;
}
.bg-main{
    background-color: #293E61;
    color: white;
}
.bg-overlay{
    background-color: #192436;
    color: white;
}
.mainbutton{
    border-radius: 12px;
    padding: 4px 8px 4px 8px;
    margin: 5px;
    font-weight: bold;
}
.maintext{
    color:white;
    font-weight: bold;
    text-align: center;
    transition: opacity .2s ease-in-out;
}
.hiddentext{
    opacity: 0;
}
.channelarea-parent{
    transition: all 1s ease-in-out;
}
.channelbutton{
    cursor: pointer;
    width:50px; 
    height:50px;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    margin:12px;
    margin-left: 15px;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    transition: all .5s ease-in-out, margin-left .25s ease-in-out;
    
}
.channelbutton:hover{
    margin-left: 23px;
}
.channelmin{
    cursor: pointer;
    width: 40px;
    margin: 5px;
    margin-left: 0px;
    height: 20px;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 8px 8px 0px;
    transition: all .5s ease-in-out, width .25s ease-in-out;
}
.channelmin:hover{
    width: 50px;
}

.overlayBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }